* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body, #root {
  height: 100%;
  width: 100%;
  background-color: rgb(65, 68, 78);
  color: rgba(235, 235, 227, 0.993);
}

.main-container {
  min-height: 100%;
}